.titulo{
    position: absolute;
    left: 32%;
    text-align: center;
    background-color: cadetblue;
    align-content: center;
    font-size: 1cm;
}
.centro {text-align: center;}

.contenedor1 {position: relative;
    text-align: center;
    align-content: center;
}

h3{position: absolute;
text-align: center;
font-size : 130%;
background-color: cadetblue;
top: 94%;
left: 32%;}

.contenedor2{
    position: relative;
    text-align: center;
    align-content: center;
}

.texto1{top: 11%;
position: absolute;
font-size: 180%;

left: 64%;
background-color:red;}

.texto2 {
    top: 80%;
    position: absolute;
    font-size: 130%;
    left: 35%;
    background-color:skyblue;
}

.texto3{top: 82%;
    position: absolute;
    font-size: 130%;
    left: 30%;
    background-color:skyblue;}

.texto4{
    position: absolute;
    top: 105%;
    left: 25%;
    font-size: 120%;
    background-color: skyblue;
}

body{
    background-color: aliceblue
}